body{
    margin: 0%;
    padding: 0%;
}
div.mainBox{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
canvas{
    background: transparent;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
#staticCanvas{
    z-index: 2;
}
#canvasBeta{
    background: grey;
    z-index: 1;
}